<header class="login-header clearfix">
  <a href="#" class="logo-link">
    <img src="images/icons/logo.svg" alt="logo" width="130" height="40">
  </a>
  <button class="btn btn-login">Log In Now</button>
</header>
<section class="greeting-section">
  <div class="wrapper">
    <h1 class="greeting-header">Home of Dentistry</h1>
    <p class="greeting-text">
      Denteez was created by dentists for dentistry in order to <br>
      make the life of everyone involved in dentistry easier.
    </p>
  </div>
</section>

<section class="login-section">
  <div class="login-text">Already have an account? <a href="#" class="login-link">Log in now</a></div>
</section>

<section class="about-section">
  <h2 class="about-header">About Denteez</h2>

  <p class="about-paragraph">
    Why is it always so difficult to find what you are looking for in dentistry? Whether it is the latest advancement in technology or techniques or simply a review or understanding of the vast amount of products? Perhaps finding someone to just fix your broken equipment or simply hiring new staff or looking for that new job?
  </p>
  <p class="about-paragraph">
    Our mission is to give every dental professional the possibility to discuss and share all aspects of their profession, their practice and their business. We aim to make the world of dentistry easy and accessible, so every dental professional can find what they are looking for quickly and easily all in one place.
  </p>
</section>

<footer class="login-footer">
  <div class="copyright">Denteez Copyright 2015</div>
  <div class="footer-links">
    <a href="#" class="footer-link">Support</a>
    <a href="#" class="footer-link">Privacy Policy</a>
    <a href="#" class="footer-link">Terms of use</a>
  </div>
</footer>