.main-footer
  padding: 8px 0
  font-size: 12px
  // line-height: 42px
  color: #b7bfcd

  a
    color: #b7bfcd    

    &:hover
      text-decoration: underline

  .copyright
    margin-bottom: 18px
    letter-spacing: .34px
    line-height: 10px

  .footer-link
    margin-right: 19px
    letter-spacing: .3px
    line-height: 10px
