.main-content
  position: relative
  margin-right: 229px
  margin-left: 226px  
  padding: 9px 0

  .page-header
    margin-bottom: 11px
    letter-spacing: .6px

  .btn-add-service
    position: absolute
    top: 12px
    right: 1px

.services-list
  padding: 15px 6px
  font-size: 0px
  border: 1px solid #e0e2e6
  border-radius: 5px
  
.service-item
  display: inline-block
  margin: 0 8px
  width: 140px
  vertical-align: top


  .service-icon
    width: 140px
    height: 140px
    border: 1px solid #e0e2e6
    background: url('images/icons/Shape_1.svg') no-repeat center

  .service-name
    padding: 0 18px
    height: 60px
    font-size: 13.61px    
    color: #1c2534
    text-align: center