.featured-companies-section
  margin-bottom: 10px
  padding-top: 20px  
  border-bottom: 1px solid #e0e2e6

  .section-header
    margin-bottom: 16px
    line-height: 1
    letter-spacing: .42px

  .see-all-link
    top: 6px
    letter-spacing: .4px

  .item-name
    margin-bottom: 6px
    line-height: 15px
    letter-spacing: .4px

  .item-role
    margin-bottom: 6px
    letter-spacing: 0.1px 

  .item-location
    margin-bottom: 2px
    letter-spacing: .5px

  .follow-link
    letter-spacing: 0.4px 