.featured-products-section
  margin-bottom: 8px
  // padding-top: 20px  
  border-bottom: 1px solid #e0e2e6

  .section-header
    // margin-bottom: 16px
    // line-height: 17px
    line-height: 50px

  .see-all-link
    line-height: 50px

  .product-item
    margin-bottom: 22px

  .item-name
    margin-bottom: 8px
    line-height: 11px

  .item-description
    line-height: 16px
