.login-footer
  width: 100%
  padding: 0 80px
  font-size: 12px
  line-height: 73px
  color: #b7bfcd

  .copyright
    float: left

.footer-links
  float: right

.footer-link
  margin-left: 20px
  color: #b7bfcd
  &:hover
    text-decoration: underline